.app {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;

  &__menu {
    border-right: 0.05rem solid #bdc8d8;
    flex: 1;
    color: #60676d;
    font-weight: 700;

    &--logo-box {
      display: flex;
      padding: 2rem;
    }

    &--logo {
      margin-right: 0.6rem;
    }

    &--text {
      color: #808992;
    }

    &--nav {
    }

    &--list {
      padding: 2rem 2rem 0 2rem;
    }

    &--heading {
      margin-bottom: 2rem;
    }

    &--item {
      margin-bottom: 1.7rem;
      color: #808992;
      font-weight: 600;
    }

    &--item:hover {
      color: #f11c62;
      cursor: pointer;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex: 6;
  }

  &__micro {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    padding-top: 2rem;
    color: #808992;
    font-weight: 600;
    border-left: 0.05rem solid #bdc8d8;
  }

  &__main {
    .main__nav {
      max-width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 2rem;
      color: #60676d;
      font-weight: 700;

      &--movie:hover,
      &--show:hover,
      &--anime:hover {
        color: #303e61;
        cursor: pointer;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    &--hero {
      text-align: center;
    }

    &--hero img {
      width: 90%;
      margin-bottom: 1rem;
    }

    &--now-playing,
    &--top-rated {
      margin-bottom: 2rem;
    }

    &--now-playing h4,
    &--top-rated {
      align-self: flex;
      padding: 0 2rem;
    }

    &--now-playing li,
    &--top-rated li {
      list-style: none;
    }

    &--now-playing a,
    &--top-rated a {
      color: #808992;
      text-decoration: none;
    }
  }
}

.collection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
